{% extends 'layouts/home.html.twig' %}

{% block title %}Registro
{% endblock %}

{% block body %}

	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			<a class="navbar-brand" href="{{ path('proyecto') }}">¿Qué es Sueño Dorado?</a>
			<a class="btn btn-warning" href="{{ path('app_login') }}">Iniciar sesión</a>
		</div>
	</nav>
	<header class="masthead text-white text-center">
		<br>
		<div class="overlay"></div>
		<div class="container" id="contentBody">
			<div class="row align-items-center">
				<div class="col-sm-12 col-lg-6 col-xl-6 mx-auto">
					<h1>Registro</h1>
					{% if error is defined %}
						{% if error %}
							<br>
							<h3>Correo ya registrado</h3>
						{% endif %}
					{% endif %}
					{{ form_start(form) }}
					<br>
					{{ form_row(form.email) }}
					<br>
					{{ form_row(form.nombres) }}
					<br>
					{{ form_row(form.apellidos) }}
					<br>
					{{ form_row(form.telmovil) }}
					<br>
					{{ form_row(form.pais) }}
					<br>
					{{ form_row(form.ciudad) }}
					<br>
					{{ form_row(form.plainPassword.first) }}
					<br>
					{{ form_row(form.plainPassword.second) }}
					<br>
					<button class="btn btn-warning" type="submit">Registrarse</button>
					{{ form_end(form) }}
				</div>
				<div class="col-md-12 col-lg-6 col-xl-6 mx-auto">
					<br>
					<br>
					<img src="{{ asset('assets/logo.png') }}" class="img-fluid pull-xs-left" alt="..." width="100%" height="20%">
				</div>
			</div>

			<br>
		</div>
	</header>
{% endblock %}
