{% extends 'layouts/admin.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block body %}
<div  class="container-fluid" id="contentBody">
  <div class="card mb-8">
    <div class="card-header">
      ERROR
    </div>
    <div class="card-body">
          <h1>Error 404 referencia no encontrada, codigo del error: {{ errorCode }}<h1>
    </div>
  </div>
</div>
{% endblock %}

