<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sueño dorado
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
			<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('css/main.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


			<link href="{{ asset('css/landing-page.css') }}" rel="stylesheet">

		{% endblock %}
	</head>
	<body>

		{% block body %}{% endblock %}
		<footer class="footer bg-light">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
						<ul class="list-inline mb-2">
							<li class="list-inline-item">
								<a href="#">
									<h3>Contacto</h3>
								</a>
							</li>
						</ul>

					</div>
					<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
						<ul class="list-inline mb-0">
							<li class="list-inline-item mr-3">
								<a href="#">
									<i class="fab fa-facebook fa-2x fa-fw"></i>
								</a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="#">
									<i class="fab fa-twitter-square fa-2x fa-fw"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-instagram fa-2x fa-fw"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		{% block javascripts %}

			<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

			<script>
				if (screen.width >= 450) {
document.getElementById("contentBody").className = "container";
} else {
document.getElementById("contentBody").className = "container-fluid";
}
			</script>
		{% endblock %}
	</body>
</html>
