{% set permiso = 'layouts/base.html.twig' %}
{% if app.user %}
	{% if is_granted('ROLE_ADMIN') %}
		{% set permiso = 'layouts/admin.html.twig' %}
	{% elseif is_granted('ROLE_USER') %}
		{% set permiso = 'layouts/user.html.twig' %}
	{% endif %}
{% endif %}
{% extends permiso %}
{% block title %}Informacion
{% endblock %}

{% block body %}

	<div style="z-index:0;" id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class=""></li>
			<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active carousel-item-left">
				<img src="{{ asset('assets/Banner_01.jpg') }}" class="img-fluid pull-xs-left" alt="..." width="100%" height="20%">
				<div class="container">
					<div class="carousel-caption text-left">
						<h1>
							<i>
								<b>Sueño dorado</i>
							</b>
						</h1>
						<h4>
							<b>Te invitamos a vibrar en abundancia y prosperidad de seguro esto es para ti.</b>
						</h4>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
							{% else %}
								<p>
									<a class="btn btn-lg btn-warning" href="{{path('register')}}" role="button">Resgístrate</a>
								</p>
						{% endif %}

					</div>
				</div>
			</div>
			<div class="carousel-item carousel-item-next carousel-item-left">
				<img src="{{ asset('assets/Banner_02.jpg') }}" class="img-fluid pull-xs-left" alt="..." width="100%" height="20%">
				<div class="container">
					<div class="carousel-caption" style="color:black">
						<h1>
							<i>
								<b>Sueño dorado</i>
							</b>
						</h1>
						<h4>
							<b>Te invitamos a vibrar en abundancia y prosperidad de seguro esto es para ti.</b>
						</h4>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
							{% else %}
								<p>
									<a class="btn btn-lg btn-warning" href="{{path('register')}}" role="button">Resgístrate</a>
								</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img src="{{ asset('assets/Banner_03.jpg') }}" class="img-fluid pull-xs-left" alt="..." width="100%" height="20%">
				<div class="container">
					<div class="carousel-caption text-right" style="color:black">
						<h1>
							<i>
								<b>Sueño dorado</i>
							</b>
						</h1>
						<h4>
							<b>Te invitamos a vibrar en abundancia y prosperidad de seguro esto es para ti.</b>
						</h4>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
							{% else %}
								<p>
									<a class="btn btn-lg btn-warning" href="{{path('register')}}" role="button">Resgístrate</a>
								</p>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<br>
	<!-- Marketing messaging and featurettes
			  ================================================== -->


	<div class="container marketing">

		<div class="row">
			<div class="col-lg-6">
				<img src="{{ asset('assets/Pic_01.jpg') }}" class="rounded-circle" alt="Cinque Terre" width="40%" style="display:block;margin:auto;">
				<h2>Principios</h2>
				<ul class="">
					<li class="">EL AMOR</li>
					<li class="">LA CONFIANZA</li>
					<li class="">LA CONFIABILIDAD</li>
					<li class="">LA CLARIDAD</li>
					<li class="">LA SOLIDARIDAD</li>
					<li class="">LA LEGALIDAD</li>
					<li class="">LA COMUNICACION
					</li>
					<li class="">EL RESPETO</li>
					<li class="">EL COMPROMISO</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<img src="{{ asset('assets/Pic_05.jpg') }}" class="rounded-circle" alt="Cinque Terre" width="40%" style="display:block;margin:auto;">
				<h2>Aspectos legales en colombia</h2>
				<p>
					<b>CODIGO CIVIL - DONACIONES Y CODIGO PENAL CAPTACION DE DINERO</b>
				</p>
				<ul class="">
					<li class="">Art. 1443 C.C. La donación entre vivos es un acto por el cual una persona transfiere, gratuita e irrevocablemente, una parte de sus bienes a otra persona que la acepta.
					</li>
					<li class="">Art. 1458 C.C.... Las donaciones cuyo valor sea igual o inferior a cincuenta (50) salarios mínimos mensuales, no requieren insinuación.
					</li>
					<li class="">Art. 316 C.P. CAPTACIÓN DE DINERO. Es legal la administración de dineros de terceros hasta o inferior a 20 personas.
					</li>

				</ul>
			</div>
		</div>


		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">ECONOMIA SOLIDARIA</h2>
				<p class="lead">La economía circular y solidaria es una forma de producción, consumo, y distribución de riqueza (lo que se entiende como un tipo de economía), centrada en la valorización del ser humano y no
															             en la Priorización del capital. Promueve la asociación, la cooperación y la autogestión, está orientada a la producción, al consumo y a la comercialización de bienes y servicios,
															             de un modo principalmente autogestionado, teniendo como finalidad el desarrollo ampliado de la vida.</p>
				<p></p>
			</div>
			<div class="col-md-5">
				<img src="{{ asset('assets/Pic_04.jpg') }}" class="rounded" style="border-width:10px;" alt="..." width="100%">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Proyeccion de la moneda</h2>
				<p class="lead">Con $500.000 pesos se compran 250.000 monedas Mktcoin equivalente a $2 pesos cop. como economica solidaria ayudaremos a la valorizacion de la moneda esperando Que en un año cada moneda este en $3.000 cop lo cual serian 250.000 * $3.000 pesos tendriamos un total de = $750 '000.000 millones de pesos colombianos.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img src="{{ asset('assets/Pic_02.jpeg') }}" class="rounded" alt="..." width="100%">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">La Economía Circular y Colaborativa para un Mundo Mejor Centrado en las PERSONAS.</h2>
				<p class="lead">Jeremy Rifkin lo plantea así en La Cuarta Revolución Industrial, donde afirma que existe un modelo económico alternativo. Es la economía circular y colaborativa, en la que la misma tecnología que utiliza Internet, como medio de comunicación distribuida, podrá ser utilizada también para distribuir la Riqueza. Dicha teoría se fundamente en cuatro pilares; quien RECIBE, quienes SOSTIENEN, los que ATRAEN Y los que APORTAN.</p>
			</div>
			<div class="col-md-5">
				<img src="{{ asset('assets/Pic_03.jpg') }}" class="rounded" alt="..." width="100%">
			</div>
		</div>
		<br>
		<br>
		<div align="center" class="row featurette">
			<div class="col-md-12">
				<h1 class="featurette-heading">DIA DE MERECIMIENTO
				</h1>
				<img src="{{ asset('assets/Banner_03.jpg') }}" class="rounded" alt="..." width="100%">
			</div>
		</div>

		<div align="center" class="row featurette">
			<div class="col-md-12">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						1). 8 oros x $1.000.000 = $8'000.000 Entregas $1.000.000 para el Diamante de Apoyo y $1.000.000 ($500.000 para compra de MKTCoin - Y $ 500.000 PARA LA LOGÍSTICA DE LOS EVENTOS) Te quedas con $6000.000 PARA CUMPLIR TU SUEÑO.
					</li>
					<li class="list-group-item">2). Mis oros son 8 x 1.000.000 = $8'000.000 (menos $ 2.000.000 para el Diamante de Apoyo, compra de monedas y logística) Recibes = $6'000.000
					</li>
					<li class="list-group-item">3). último: 8 x 1.000.000 = 8.000.000 (menos $ 2.000.000 para el Diamante de Apoyo, compra de monedas y logística) Recibes = $6'000.000
					</li>
					<li class="list-group-item">En la tercera recibida sales de la estructura con un total en efectivo de $18'000.000 más $1'500.000 en MKTCoin, en un aproximado de 2 a 3 meses.
					</li>
				</ul>
				<p></p>
			</div>
		</div>
	</div>
{% endblock %}
