{% extends 'layouts/admin.html.twig' %}

{% block title %}Editar perfil
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentBody">
		<div class="card mb-3">
			<div class="card-header">
				<h3>Editar datos personales</h3>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				{{ form_row(form.email) }}
				<br>
				{{ form_row(form.nombres) }}
				<br>
				{{ form_row(form.apellidos) }}
				<br>
				{{ form_row(form.telmovil) }}
				<br>
				{{ form_row(form.pais) }}
				<br>
				{{ form_row(form.ciudad) }}
				<br>
				{% if user.roles[0] == "ROLE_ADMIN" %}
					<label><input type="checkbox" name="user_edit[user_rol]" id="user_edit_rol" value="true" checked>Administrador</label>
				{% else %}
					<label><input type="checkbox" name="user_edit[user_rol]" id="user_edit_rol" value="true">Administrador</label>
				{% endif %}
				<br>
				<br>
				<button class="btn btn-success" type="submit">Guardar</button>
				{{ form_end(form) }}
				<br>
				<br>
				<button type='button' id='ButtonBorrar' class='botonAcccion btn btn-danger'>
					<span class='hidden-xs'>Borrar usuario</span>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="BorrarUsuario" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="BorrarUsuario">¿Seguro que desea borrar el usuario?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div id="BotonBorrar" class="modal-footer">
				<a class="btn btn-primary" href="">Borrar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
var search = $('#user_edit_referido').select2({
    maximumSelectionLength: 2
});

const boton = document.querySelector("#ButtonBorrar");


boton.addEventListener("click", function(evento){
	modalBorrar({{ user.id }});
});


var estadoBorrar;
function modalBorrar(id)
{
    var content = `<button type='button' id='ButtonBorrarUsuario'  class='btn btn-danger'><span class='hidden-xs'>Borrar moneda</span></button>`
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
    const botonUsuario = document.querySelector("#ButtonBorrarUsuario");
 
    botonUsuario.addEventListener("click", function(evento){
        console.log("ejecutando borrar");
	    borrarUsuario({{ user.id }});
    });
}


function borrarUsuario(id)
{
    var uri  = "{{ path('delete_User',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    console.log(uri);
    fetch(uri,{method: 'POST'})
        .then(response => response.json())
        .then(myJson => {
            console.log(myJson);
                if(myJson.length > 1){
                     var content = `<div class="alert alert-danger" role="alert">
                                ${ myJson }
                    </div>`
                     document.getElementById("error").innerHTML = content;
                }
                else{
                    var uri  = "{{ path('dasboard') }}";
                    window.location=uri;
                }
        })
        .catch(function(err) {
                var content = `<div class="alert alert-danger" role="alert">
                                Ocurrio un error al borrar la moneda
                </div>`
               document.getElementById("error").innerHTML = content;
       });
    $('#borrarModal').modal('hide');
}

});
</script>
{% endblock %}
