{% extends 'layouts/admin.html.twig' %}

{% block title %}Estructura{% endblock %}

{% block body %}

<div class="container-fluid" id="contentBody">
    <div style="height: 80%; width: 80%; position: absolute; left: 10; top: 10;" id="cy"></div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
console.log("cy");
var cy = cytoscape({
  container: document.getElementById('cy'),
  boxSelectionEnabled: false,
  autounselectify: true,

  style: cytoscape.stylesheet()
    .selector('node')
      .style({
        'background-image': 'data(rango)',
        'background-fit': 'contain',
        'content': 'data(name)',
        'weight': 0.1,
        'width': 50,
        'height': 50,
      })
    .selector('edge')
      .style({
        'curve-style': 'bezier',
        'target-arrow-shape': 'triangle',
        'width': 2,
        'padding': '20px',
        'line-color': '#ddd',
        'target-arrow-color': '#ddd'
      }),

  elements: {
      nodes: [
          {% for moneda in monedas %}
            { data: { id: '{{moneda.id}}', name: '{{moneda.dueño.nombres}}', rango:
             {% if moneda.rango == 0 %}
                 {% if moneda.dono == true %}
                  '{{ asset('img/monedas/Dorado2.png') }}'
                  {% else %}
                  '{{ asset('img/monedas/Dorado1.png') }}'
                 {% endif %}
             {% elseif moneda.rango == 1 %}'{{ asset('img/monedas/Ruby.png') }}'
             {% elseif moneda.rango == 2 %}'{{ asset('img/monedas/Esmeralda.png') }}'
             {% elseif moneda.rango == 3 %}'{{ asset('img/monedas/Diamante.png') }}'
             {% elseif moneda.rango == 4 %}'{{ asset('img/monedas/DiamanteDeApoyo.png') }}'
             {% endif %}}
            },
          {% endfor %}
      ],
      edges: [

          {% for moneda in monedas %}
              {% for monedaMoneda in monedaMonedas  %}
                  {% if monedaMoneda.monedaPropietario.id == moneda.id %}
                  { data: { id: '{{moneda.id}}-{{monedaMoneda.monedaInvitado.id}}', source: '{{moneda.id}}', target: '{{monedaMoneda.monedaInvitado.id}}'}},
                  {% endif %}
              {% endfor %}
          {% endfor %}
      ]
    },
  layout: {
    name: 'cose',
    spacingFactor: 1,
    idealEdgeLength: function( edge ){ return 50; },
    edgeElasticity: function( edge ){ return 100; },
    nodeRepulsion: function( node ){ return 2048; },
  }
});

cy.bind('click', 'node', function(evt) {
    var uri = "{{ path('user_list_posicion',{'id': 'id'}) }}";
    uri = uri.replace('id', evt.target.id());
    location.href=uri;
  console.log('node clicked: ', evt.target.id());

});
</script>

{% endblock %}
