{% extends 'layouts/admin.html.twig' %}

{% block title %}Estructura
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentBody">
		<div class="row">
			<div id="editMoneda" class="col-12 ml-md-auto mr-auto">
				<div style=" text-align: center;" class="">
					<a class="btn btn-default" href="{{ path('user_list_monedas',{'id': moneda.dueño.id}) }}">
						{% if moneda.rango == 0 %}
							{% if moneda.dono == true %}
								<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/Dorado2.png') }}" class="img-fluid" width="30%">
							{% else %}
								<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/Dorado1.png') }}" class="img-fluid" width="30%">
							{% endif %}
						{% elseif moneda.rango == 1 %}
							<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/Ruby.png') }}" class="img-fluid" width="30%">
						{% elseif moneda.rango == 2 %}
							<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/Esmeralda.png') }}" class="img-fluid" width="30%">
						{% elseif moneda.rango == 3 %}
							<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/Diamante.png') }}" class="img-fluid" width="30%">
						{% elseif moneda.rango == 4 %}
							<img href="{{ path('user_list_posicion',{'id': moneda.id}) }}" src="{{ asset('img/monedas/DiamanteDeApoyo.png') }}" class="img-fluid" width="30%">
						{% endif %}
						<br>
						<h3>
							{{ moneda.dueño.nombres }}</h3>
					</a>
				</div>

				<div id="añadirOro" class="">
					<form id="formSaveMoneda">
						<div class="form-group row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" style="padding:10px;" style="padding:10px;">
								<div class="card" style="height: 10rem;" style="height: 10rem;">
									<div class="card-header">
										<h5>Rango</h5>
									</div>
									<div class="card-body">
										<select class="custom-select" name="rango">
											{% if moneda.rango == 0 %}
												<option selected value="0">Oro</option>
												<option value="1">Rubi</option>
												<option value="2">Esmeralda</option>
												<option value="3">Diamante</option>
												<option value="4">Diamante de apoyo</option>
											{% elseif moneda.rango == 1 %}
												<option value="0">Oro</option>
												<option selected value="1">Rubi</option>
												<option value="2">Esmeralda</option>
												<option value="3">Diamante</option>
												<option value="4">Diamante de apoyo</option>
											{% elseif moneda.rango == 2 %}
												<option value="0">Oro</option>
												<option value="1">Rubi</option>
												<option selected value="2">Esmeralda</option>
												<option value="3">Diamante</option>
												<option value="4">Diamante de apoyo</option>
											{% elseif moneda.rango == 3 %}
												<option value="0">Oro</option>
												<option value="1">Rubi</option>
												<option value="2">Esmeralda</option>
												<option selected value="3">Diamante</option>
												<option value="4">Diamante de apoyo</option>
											{% elseif moneda.rango == 4 %}
												<option value="0">Oro</option>
												<option value="1">Rubi</option>
												<option value="2">Esmeralda</option>
												<option value="3">Diamante</option>
												<option selected value="4">Diamante de apoyo</option>
											{% endif %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" style="padding:10px;">
								<div class="card" style="height: 10rem;">
									<div class="card-header">
										<h5>Dono</h5>
									</div>
									<div class="card-body">
										{% if moneda.dono == 0 %}
											<input style="display: block;margin-left: auto;margin-right: auto;" class="form-control form-control-lg" name="dono" type="checkbox" value="1" id="donacion">
										{% elseif moneda.dono == 1 %}
											<input style="display: block;margin-left: auto;margin-right: auto;" checked class="form-control form-control-lg" name="dono" type="checkbox" value="1" id="donacion">
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" style="padding:10px;">
								<div class="card" style="height: 10rem;">
									<div class="card-header">
										<h5>Veces recibidas</h5>
									</div>
									<div class="card-body">
										<input style=" position: relative;left: 30%; width:50%" class="form-control form-control-lg" name="vecesRecividas" type="text" value="{{ moneda.vecesRecibidas }}" id="vecesRecividas">
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3" style="padding:10px;">
								<div class="card" style="height: 10rem;">
									<div class="card-header">
										<h5>Diamante de apoyo</h5>
									</div>
									<div class="card-body">
										{% if monedaDeApoyo is defined %}
											{{ monedaDeApoyo }}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class=" col-lg-12">
								<button type='button' id='ButtonEditar' onclick='guardarMoneda({{ moneda.id }})' class='btn btn-success'>
									<span class='hidden-xs'>Guardar</span>
								</button>
								<button type='button' id='ButtonBorrar' onclick='modalBorrar({{ moneda.id }})' class='btn btn-danger'>
									<span class='hidden-xs'>Borrar moneda</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="arbol col-12 ml-md-auto mr-auto">
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i>
						Extructura</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table " id="Monedas" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th width="1%">Orden</th>
										<th>Dueño</th>
										<th width="3%">Dono</th>
										<th>Rango</th>
										{% if moneda.rango != 4 %}
											<th width="3%" class="invitoA">invito a</th>
										{% endif %}
									</tr>
								</thead>
								<tfoot></tfoot>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
{% block modal %}
	<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar la moneda?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div id="BotonBorrar" class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="">Borrar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="agregarOro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Añadir oro a rubi</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div id="modalAñadirOros" class="modal-body">
					<form id='fromEditinvitados' method='post' autocomplete="off">
						<select class="custom-select" style="width:100%" id="añadir_oro" name="monedas[]" multiple="multiple"></select>
						<br>
						<br>
						<button id="botonEditInvitados" class="btn btn-success" type="button" data-dismiss="modal">Cambiar</button>
					</form>
				</div>
				<div id="agregarOroBoton" class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		var arbol = new Array();
var arbol = new Array();
window.onload = function() {
     usersList();
};
$(document).ready(function() {
        usersList();
    });
function usersList() {
    arbol = [];
  fetch('{{ path('list_monedas',{'id': moneda.id}) }}',{method: 'GET'})
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Monedas').DataTable({
            "language": {
                 "decimal": "",
                 "emptyTable": "No hay información",
                 "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                 "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                 "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Mostrar _MENU_ Entradas",
                 "loadingRecords": "Cargando...",
                 "processing": "Procesando...",
                 "search": "Buscar:",
                 "zeroRecords": "Sin resultados encontrados",
                 "paginate": {
                     "first": "Primero",
                     "last": "Ultimo",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 }
            },
        responsive: true,
        "order": [[ 0, 'desc' ]],
        "pageLength": 15,
         "destroy": true,
         rowCallback:function(row,data)
         {
           switch (data[3]) {
               case "Diamante":
                    $($(row).find("td")[3]).css("background-color","#6CAFFB");
                   break;
               case "Esmeralda":
                    $($(row).find("td")[3]).css("background-color","#6EED91");
                   break;
               case "Rubi":
                    $($(row).find("td")[3]).css("background-color","#F36F6F");
                   break;
               case "Oro":
                    $($(row).find("td")[3]).css("background-color","#D4B678");
                   break;
           }
         }
        });
     table.clear();
     console.log(myJson);
     for (var i = 0; i < myJson.length; i++) {
         if (myJson[i].length > 1) {
             if (myJson[i].length == 2) {
                 var invto = "" + myJson[i][1].dueño.nombres;
             } else if (myJson[i].length == 3) {
                 var invto = "" + myJson[i][1].dueño.nombres + " - " + myJson[i][2].dueño.nombres;
             }
         }else {
             invto = "";
         }
         var rango = "";
         var estado = "";
         switch (myJson[i][0]['Padre'].rango) {
            case 0:
                rango = "Oro";
                if (myJson[i][0]['Padre'].dono) {
                    estado = "Si";
                }else {
                    estado = "No";
                }
                break;
            case 1:
                var x = "modalAñadir("+myJson[i][0]['Padre'].id+")";
                var boton = `<button type='button' style='width:100%; height:'100%' id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Rubi</span></button>`;
                rango = boton;
                if (myJson[i][0]['Padre'].dono) {
                    estado = "Si";
                }else {
                    estado = "No";
                }
                break;
            case 2:
                var x = "modalAñadir("+myJson[i][0]['Padre'].id+")";
                var boton = `<button type='button' style='width:100%; height:'100%' id='ButtonEditar' onclick='${x}' class='btn btn-success'><span class='hidden-xs'>Esmeralda</span></button>`;
                rango = boton;
                if (myJson[i][0]['Padre'].dono) {
                    estado = "Si";
                }else {
                    estado = "No";
                }
                break;
            case 3:
                var x = "modalAñadir("+myJson[i][0]['Padre'].id+")";
                var boton = `<button type='button' style='width:100%; height:'100%' id='ButtonEditar' onclick='${x}' class='btn btn-info'><span class='hidden-xs'>Diamante</span></button>`;
                rango = boton;
                if (myJson[i][0]['Padre'].dono) {
                    estado = "Si";
                }else {
                    estado = "No";
                }
                break;
         }
         var y = "verUsuario("+myJson[i][0]['Padre'].id+")";
         var nombre =`<a class='btn btn-light' onclick='${y}' style='width:100%;' height:'100%'>${myJson[i][0]['Padre'].dueño.nombres}</a>`;
         table.row.add([
             myJson[i][0]['Padre'].rango,
             nombre,
             estado,
             rango,
             invto,
         ]);
         arbol.push(myJson[i][0]['Padre']);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function verUsuario(id)
{
    console.log("verUsuario");
    var uri = "{{ path('user_list_posicion',{'id': 'id'}) }}";
    uri = uri.replace('id', id);
    location.href=uri;
}

function editInvitado(id)
{
    var uri  = "{{ path('edit_invitados_moneda',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    const data = new FormData(document.getElementById('fromEditinvitados'));
    fetch(uri,{method: 'POST',body: data})
        .then(response => response.json())
        .then(myJson => {
                if(myJson.length > 1){
                     var content = `<div class="alert alert-danger" role="alert">
                                ${ myJson }
                    </div>`
                     document.getElementById("error").innerHTML = content;
                }
                else{
                    location.reload(true);
                }
               
        })
        .catch(function(err) {
                var content = `<div class="alert alert-danger" role="alert">
                                Ocurrio un error al generar la relacion
                </div>`
               document.getElementById("error").innerHTML = content;
               
       });
   
}

function modalAñadir(id)
{
    $("#añadir_oro").val('');
    $('#añadir_oro').empty();
    var x = "editInvitado("+id+")";
    $('#botonEditInvitados').attr('onclick', `${x}`);
    var uri  = "{{ path('list_all_monedas',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    fetch(uri,{method: 'GET'})
        .then(response => response.json())
        .then(myJson => {
            myJson.forEach(function(monedaG){
                var coincidencia = arbol.find(moneda => moneda.id == monedaG.id);
                if (coincidencia == null) {
                    var nombreCompleto = monedaG.dueño.nombres + " " + monedaG.dueño.apellidos;
                    var newOption = new Option(nombreCompleto, monedaG.id, false, false);
                    $('#añadir_oro').append(newOption).trigger('change');
                }
            });
        })
        .catch(function(err) {
           console.log(err);
       });

    var uri  = "{{ path('user_find_invitados',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    fetch(uri,{method: 'GET'})
        .then(response => response.json())
        .then(myJson => {
            myJson.forEach(function(monedaG){
                var nombreCompleto = monedaG.dueño.nombres + " " + monedaG.dueño.apellidos;
                var newOption = new Option(nombreCompleto, monedaG.id, false, true);
                $('#añadir_oro').append(newOption).trigger('change');
            });
        })
        .catch(function(err) {
           console.log(err);
       });
    var search = $('#añadir_oro').select2({ maximumSelectionLength: 2 });
    $('#agregarOro').modal('show');

}

function modalBorrar(id)
{
    var content = `<button type='button' id='ButtonBorrar' onclick='borrarMoneda(${id})' class='btn btn-danger'><span class='hidden-xs'>Borrar moneda</span></button>`
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function guardarMoneda(id)
{
    var uri  = "{{ path('edit_moneda',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    const data = new FormData(document.getElementById('formSaveMoneda'));
    fetch(uri,{method: 'POST',body: data})
        .catch(function(err) {
           console.log(err);
       });

    location.reload(true);
}

function borrarMoneda(id)
{
    var uri  = "{{ path('delete_moneda',{'id': 'id'}) }}"
    uri = uri.replace('id', id);

    fetch(uri,{method: 'POST'})
        .then(response => response.json())
        .then(myJson => {
                if(myJson.length > 1){
                     var content = `<div class="alert alert-danger" role="alert">
                                ${ myJson }
                    </div>`
                     document.getElementById("error").innerHTML = content;
                }
                else{
                    idDueño = "{{ moneda.dueño.id }}";
                    var uri  = "{{ path('user_list_monedas',{'id': 'id'}) }}"
                    uri = uri.replace('id', idDueño);
                    window.location=uri;
                }
               
        })
        .catch(function(err) {
                var content = `<div class="alert alert-danger" role="alert">
                                Ocurrio un error al borrar la moneda
                </div>`
               document.getElementById("error").innerHTML = content;
               
       });
    $('#borrarModal').modal('hide');
   
}
</script>

{% endblock %}
