{% extends 'layouts/admin.html.twig' %}

{% block title %}Eventos
{% endblock %}

{% block body %}
	<div class="container-fluid" id="contentBody">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Eventos
			</div>
			<div style="z-index:0;" class="card-body">
				<div class="table-responsive">
					<table class="table " id="Eventos" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Nombre</th>
								<th style="width:300px">Fecha</th>
								<th>Descipción</th>
								<th>Inicia</th>
								<th>Finaliza</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot></tfoot>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
		<a class='btn btn-success' href='{{ path('new_evento') }}'>Crear evento</a>
	</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea borrar el evento?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div id="BotonBorrar" class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="">Borrar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
window.onload = function() {
     usersList();
};
$(document).ready(function() {
        usersList();
        console.log("Docuemnto listo");
    });

function usersList() {

    var misCabeceras = new Headers();
    var miInit = { method: 'POST',
           headers: misCabeceras,
           mode: 'cors',
           cache: 'default' };
  fetch('{{ path('list_evento_admin') }}',miInit)
    .then(response => response.json())
    .then(myJson => {
        var table = $('#Eventos').DataTable({
            "language": {
                 "decimal": "",
                 "emptyTable": "No hay información",
                 "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                 "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                 "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Mostrar _MENU_ Entradas",
                 "loadingRecords": "Cargando...",
                 "processing": "Procesando...",
                 "search": "Buscar:",
                 "zeroRecords": "Sin resultados encontrados",
                 "paginate": {
                     "first": "Primero",
                     "last": "Ultimo",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 }
            },
            "responsive": true,
            columns: [
            { responsivePriority: 1, "orderable": true },
            { responsivePriority: 3, "orderable": false },
            { responsivePriority: 4, "orderable": false },
            { responsivePriority: 5, "orderable": false },
            { responsivePriority: 5, "orderable": false },
            { responsivePriority: 2, "orderable": false },
            { responsivePriority: 2, "orderable": false },
        ],
            "order": [[ 1, 'desc' ]],
            "destroy": true,
        });
     table.clear();
    var options = { year: 'numeric', month: 'long', day: 'numeric' };
    for (var i = 0; i < myJson.length; i++) {
        var id = myJson[i].id
        var x = "modalBorrar("+id+")";
        var uri = "{{ path('edit_evento',{'id': 'id'}) }}";
        uri = uri.replace('id', id);
        var botonEdit = `<a class='btn btn-success' href='${uri}'>Editar</a>`;
        var botonDelete = `<button type='button' id='ButtonEditar' onclick='${x}' class='btn btn-danger'><span class='hidden-xs'>Borrar</span></button>`;
        table.row.add([
            myJson[i].nombre,
            myJson[i].fecha,
            myJson[i].descripcion,
            myJson[i].duracionInicio,
            myJson[i].duracionFin,
            botonEdit,
            botonDelete,
        ]);
     }
     table.draw();
    })
    .catch(function(err) {
       console.log(err);

    });
}

function modalBorrar(id)
{
    var uri  = "{{ path('delete_evento',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    var content = `<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cancel</button>
        <a class='btn btn-primary' href='${uri}'>Borrar</a>`;
    document.getElementById("BotonBorrar").innerHTML = content;
    $('#borrarModal').modal('show');
}

function deleteUser(id)
{
    var uri  = "{{ path('delete_evento',{'id': 'id'}) }}"
    uri = uri.replace('id', id);
    fetch(uri, {
            method: 'POST',
        })
    .then(response => {
        console.log(response);
    })
    .catch((error) => console.log(error));

}

</script>

{% endblock %}
